{% extends 'auctions/layout.html' %}

{% block title %}Filter{% endblock %}

{% block header %}Filter{% endblock %}

{% block body %}
    <div class="space-filter">
        <div class="filter-index">

            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown">
                    Categories
                    <img src="../../static/img/filter.svg">
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'index' %}">All</a></li>
                <li><a class="dropdown-item" href="{% url 'filtered' 2 %}">Surrealism</a></li>
                <li><a class="dropdown-item" href="{% url 'filtered' 3 %}">Pop Art</a></li>
                <li><a class="dropdown-item" href="{% url 'filtered' 4 %}">Minimalism</a></li>
                <li><a class="dropdown-item" href="{% url 'filtered' 5 %}">Street Art</a></li>
                </ul>
            </div>
        
        </div>
    </div>

    <div class="flex-container" id="flex_container">
        
        {% for item in list_filtered %}

            {% if item.status == 1 %}
                <div class="card" style="width: 15rem;">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <img src="{{ item.url }}" class="card-img" alt="...">
                    <div class="card-body">
                        
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-price" style="text-align: center;">$ {{ item.init }}</p>
                        <a href="{% url 'view' item.title %}" class="btn btn-outline-dark">View</a>

                    </div>

                </div>
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}