{% extends "auctions/layout.html" %}

{% block list %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'newauction' %}">New Auction</a>
    </li>
{% endblock %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="space-filter">
        <div class="filter-index">

            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown">
                    Filter 
                    <img src="../../static/img/filter.svg">
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'filtered' 2 %}">Surrealism</a></li>
                  <li><a class="dropdown-item" href="{% url 'filtered' 3 %}">Pop Art</a></li>
                  <li><a class="dropdown-item" href="{% url 'filtered' 4 %}">Minimalism</a></li>
                  <li><a class="dropdown-item" href="{% url 'filtered' 5 %}">Street Art</a></li>
                </ul>
              </div>
        
        </div>
    </div>
    
    {% if list_view %}

        {% if request.user.alert == 1 %}

            <div id="block-content" class="overlay">

                <div class="overlay-content" id="overlay-index">
            
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">

                            <h3>Congratulations! <img src="../../static/img/congratulation.svg" class="img-winner"></h3>
                            <p class="card-text">You were the winner of an auction! Click here on the button below to check it out.</p>
                            <a href="{% url 'result' %}" class="btn btn-warning">Go</a>

                        </div>
                    
                    </div>

                </div>

            </div>

        {% endif %}

        <div class="flex-container" id="flex_container">
            {% for item in list_view %}

                {% if item.status == 1 %}
                    <div class="card" style="width: 15rem;">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <img src="{{ item.url }}" class="card-img" alt="...">
                        <div class="card-body">
                            
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{% url 'view' item.title %}" class="btn btn-outline-dark">View</a>

                        </div>

                    </div>
                {% endif %}

            {% endfor %}
        </div>

    {% endif %}

{% endblock %}