{% extends 'auctions/layout.html' %}

{% block title %} New Auction {% endblock %}

{% block header %}Add a new Auction{% endblock %}

{% block body %}

    <form action="" method="post">

        {% csrf_token %}

        <div class="form-group">
            <label>Title</label>
            <input type="text" maxlength="150" name="title" class="form-control">
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type='text' name='description' class="form-control">
        </div>
        
        <div class="form-group">
            <label>Details</label>
            <textarea class="form-control" name="detail"></textarea>
            <small class="form-text text-muted">Details about the item</small>
        </div>

        <div class="form-group">
            <label>Initial value</label>
            <input id='initial-value' class="form-control" type="number" name='value' >
        </div>

        <div class="form-group">
            <label>URL img</label>
            <input class="form-control" type="text" name='url'>
            <input class="form-control" type="text" name='url' value="https://i.ibb.co/r289Bgk/default-img.png">
            <small class="form-text text-muted">Optional</small>
        </div>

        <div class="form-group">
            <label>Categorie</label>
            
            <select class="form-control" name="categorie">
                <option value="1">None</option>
                <option value="2">Surrealism</option>
                <option value="3">Pop Art</option>
                <option value="4">Minimalism</option>
                <option value="5">Street Art</option>
            </select>
            <small class="form-text text-muted">Optional</small>
        </div>

        <button id="btn-newauction" type="submit" class="btn btn-outline-dark">Submit</button>

    </form>

{% endblock %}